/* Container for Slider and Main Content */
.contentContainer {
  display: flex;
  height: 93vh; /* Full viewport height */
  background-color: var(--background); /* Set background color for the whole container */
}

/* Landing Page Main Styles */
.landingPage {
  flex: 0 0 60%; /* 60% for the left side */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 10px; /* Add padding as needed */
  text-align: center; /* Center text */
}

.title {
  font-size: var(--ye-font-size-mammoth);
  font-family: var(--ye-font-family-mono);
  color: var(--theme-color); /* Use theme color */
  margin: var(--ye-spacing-em-normal);
  text-transform: uppercase;
  letter-spacing: var(--ye-spacing-em-tiny);
}

.authBtn {
  padding: var(--ye-button-padding);
  font-size: var(--ye-font-size-normal);
  background-color: var(--primary);
  cursor: pointer; /* Use pointer for cursor */
  height: 3rem;
  width: 6rem;
  border: 2px solid var(--primary);
  border-radius: var(--ye-button-border-radius);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--primary);
    background-color: var(--primary-hover);
  }
}

.sliderSection {
  flex: 0 0 40%; /* 40% for the right side */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  padding: 45px 0 145px 0;
  box-sizing: border-box;
}

.imgBox {
  width: 100%; /* Make sure image box takes full width */
  max-width: 400px; /* Maximum size for responsiveness */
}

.imgBox img {
  width: 100%; /* Responsive image */
  animation: float 2s ease-in-out infinite; /* Apply float animation */
}

/* Floating Animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .landingPage {
    flex: 1; /* Allow more space on small screens */
  }

  .sliderSection {
    flex: 1; /* Allow more space on small screens */
  }

  .authBtn {
    width: 80%; /* Make button wider on smaller screens */
  }

  .title {
    font-size: var(--ye-font-size-large); /* Adjust title size for small screens */
  }
}
