.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

.container {
  background-color: var(--primary);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
  transition: all 0.6s ease-in-out;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ye-spacing-rem-normal); /* Keep the gap between social icons */
  margin: var(--ye-spacing-rem-small); /* Reduce the large margin */
}


.signUpSocialContainer {
  @extend .socialContainer;
  margin-top: var(--ye-spacing-rem-small);;
}

.social {
  border: 2px solid var(--ye-color-text);
  padding: var(--ye-spacing-rem-large);
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */

  img {
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
  }

  &:hover img {
    transform: scale(1.1); /* Scale the image on hover */
  }
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: var(--ye-spacing-rem-xhuge);
}

.loginTitle {
  font-size: var(--ye-font-size-mammoth);
  font-weight: var(--ye-font-weight-bold);
  color: var(--ye-color-text);
}

.signupTitle{
  @extend .loginTitle;

}

.loginEmailInput {
  width: 95%;
  height: 3rem;
  border: 2px solid var(--ye-color-text);
  border-radius: var(--ye-button-border-radius);
  padding: var(--ye-input-padding);
  margin-bottom: var(--ye-spacing-rem-small);
  font-size: var(--ye-font-size-normal);
}

.loginPsswdInput {
  @extend .loginEmailInput;
}

.signUpPsswdInput {
  @extend .loginPsswdInput;
  margin-bottom: var(--ye-spacing-rem-normal);;

}

.loginBtn {
  width: 45%;
  height: 3rem;
  border: 2px solid var(--ye-color-text);
  border-radius: var(--ye-button-border-radius);
  padding: var(--ye-input-padding);
  margin-bottom: var(--ye-spacing-rem-xhuge);
  font-size: var(--ye-font-size-large);
  background-color: var(--accent);
  color: var(--ye-color-text);
  cursor: var(--ye-button-cursor);
  transition: background-color 0.3s ease-in-out; /* Add transition */

  &:hover {
    background-color: var(--secondary);
    color: var(--text);
  }
}

.signUpBtn{

  @extend .loginBtn;
  margin-bottom:0;

}

.rightPanelActive .signInContainer {
  transform: translateX(100%);
  z-index: -1;
}

.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.signinUserName {
  @extend .loginEmailInput;
}
.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background: var(--secondary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--text);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
}

.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.rightPanelActive .overlayRight {
  transform: translateX(20%);
}

.welcomeText{
  font-size: var(--ye-font-size-mammoth);
  font-weight: var(--ye-font-weight-bold);
  color: var(--text);
  margin-bottom: var(--ye-spacing-rem-xhuge);
}

.welcomePara{
  font-size: var(--ye-font-size-large);
  font-weight: var(--ye-font-weight-normal);
  color: var(--text);
}

.ghost{
  width: 45%;
  height: 3rem;
  border: 2px solid var(--ye-color-text);
  border-radius: var(--ye-button-border-radius);
  padding: var(--ye-input-padding);
  margin: var(--ye-spacing-rem-xhuge);
  font-size: var(--ye-font-size-large);
  background-color: var(--primary);
  color: var(--ye-color-text);
  cursor: var(--ye-button-cursor);
  transition: background-color 0.3s ease-in-out; /* Add transition */

  &:hover {
    background-color: var(--secondary);
    color: var(--text);
  }
}


/// extra
/// 

// Add space above and below span and a elements
.textMessage {
  display: block; /* Ensure the span takes full width */
  margin: var(--ye-spacing-rem-small) 0; /* Adjust spacing above and below */
}

.forgotPassword {
  display: block; /* Ensure the a element takes full width */
  margin: var(--ye-spacing-rem-small) 0; /* Adjust spacing above and below */
}
